.App {
 display: flex;
 justify-content: center;
 height: 800px;
 align-items: center;
 flex-direction: column;
}
.box{
  background-color: rgb(29, 110, 110);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-size: 25px;
}
.players{
  margin-bottom: 30px;
}

